body {
    background-color: dimgray;
}

h1 {
    color: slateblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
}

h2 {
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 12px;
}

footer {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.tabs {
    border-style: solid;
    border-color: black;
    border-radius: 25%;
    padding: 8px;
    font-size: 24px;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.3s;
}

a:hover {
    background-color: lightblue;
}

button {
    font-size: 18px;
    font-weight: 8px;
    font-family: 'Courier New', Courier, monospace;
    background-color: darkcyan;
    padding: 8px;
    width: 20%;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-radius: 15%;
    transition: 0.3s;
    display: inline;
}

button:hover {
    background-color: darkblue;
    cursor: pointer;
}

.tripTabs {
    display: block;
    border-style: solid;
    border-color: black;
    border-radius: 17.5%;
    width: 20%;
    font-family: 'Courier New', Courier, monospace;
    background-color: slategrey;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    transition: 0.5s;
    height: fit-content;
}

.instrumentDiv {
    border-color: black;
    border-style: solid;
    text-align: center;
    padding: 8px;
    width: 18%;
    float: left;
    display: inline;
}

.otherDiv {
    border-color: black;
    border-style: solid;
    text-align: center;
    padding: 8px;
    width: 31.5%;
    float: left;
    display: inline;
}

hr {
    display: block;
    width: 100%;
}

.instrumentDesc {
    text-align: justify;
    text-justify: auto;
    font-size: 15px;
    margin: 0;
}

iframe {
    width: 80%;
    height: 80%;
}